<p>Activities chat</p>

<p>Sample using a <a href="http://docs.botframework.com/connector/getstarted/#navtitle">Bot chat</a> and a LUIS application based on <a href="https://www.luis.ai/Help#Video">https://www.luis.ai/Help#Video</a></p>

<p>
	<iframe src="https://webchat.botframework.com/embed/BLABLA?s=PAHzJK1Rf9o.cwA.jXE.lVSBkI-3OyZSC7N0E8Y5P5LkDcj7GOYOm3JOi980Aic" style="height: 502px; max-height: 502px;"></iframe>
</p>